version: "3.8"

services: 
  postgres:
    image: postgres:latest

    ports:
      - "5432:5432"

    container_name: my_postgres

    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: docker_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: